@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: yekBold;
    src: local(yekBold), url(../public/BYekan/BYekan+\ Bold.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: yekRegular;
    src: local(yekRegular), url(../public/BYekan/BYekan+.ttf);
    font-display: swap;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in 0.1s;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: yekRegular;
}
body {
  width: 100%;
  background: #6d28d9;
}
body::-webkit-scrollbar {
  display: none;
}
.bgGradient {
  background: linear-gradient(#8439f6 50%, #ffffff 50%);
}
.borderSelectCategory {
  scale: 105%;
  box-shadow: 0px 0px 20px 0px rgb(0, 255, 255);
}
.rtl {
  direction: rtl;
}
input {
  outline: none;
  border: 0;
  padding: 1rem 1.5rem;
}
input:focus {
  outline: none;
  border: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startButtonShadow {
  box-shadow: 0px 0px 20px 5px #22c55e;
}
.chatToolsShadow {
  box-shadow: 0px 0px 10px 0px #00000036;
}
.chat-body::-webkit-scrollbar {
  display: none;
}
.my-message{
  box-shadow: 0px 0px 20px 1px #4eff8f;
  text-shadow: 0px 0px 40px #000;
}
.you-message{
  box-shadow: 0px 0px 20px 1px #f59e0b;
  text-shadow: 0px 0px 40px #000;
}
